In [1]:
import numpy as np
import pandas as pd
import os, itertools, csv
from bs4 import BeautifulSoup
import re
from datetime import *
import time

# load the dataset
dataset = pd.read_csv('./data/test.csv')
dataset.head()

      Id                                       Page content
0  27643  <html><head><div class="article-info"><span cl...
1  27644  <html><head><div class="article-info"><span cl...
2  27645  <html><head><div class="article-info"><span cl...
3  27646  <html><head><div class="article-info"><span cl...
4  27647  <html><head><div class="article-info"><span cl...

In [2]:
def get_title(text: str) -> str:
    soup = BeautifulSoup(text, "html.parser")
    title = soup.find('h1',{'class':'title'})
    return title.get_text()

titles = []
for i in range(0, dataset.shape[0]):
    title = get_title(dataset['Page content'][i])
    titles.append(title)

In [3]:
from snownlp import SnowNLP

title_sentiment = []

for i in range(0, dataset.shape[0]):
    s = SnowNLP(titles[i])
    title_sentiment.append(s.sentiments)

In [4]:
dataset["title_sentiment"] = title_sentiment

dataset.head()

      Id                                       Page content  title_sentiment
0  27643  <html><head><div class="article-info"><span cl...         0.259172
1  27644  <html><head><div class="article-info"><span cl...         0.396490
2  27645  <html><head><div class="article-info"><span cl...         0.680513
3  27646  <html><head><div class="article-info"><span cl...         0.371652
4  27647  <html><head><div class="article-info"><span cl...         0.538266

In [5]:
dataset.to_csv("./data/test_title_sentiment.csv")