In [1]:
import numpy as np
import pandas as pd
import os, itertools, csv
from bs4 import BeautifulSoup
import re
from datetime import *
import time

# load the dataset
dataset = pd.read_csv('./data/test.csv')
dataset.head()

      Id                                       Page content
0  27643  <html><head><div class="article-info"><span cl...
1  27644  <html><head><div class="article-info"><span cl...
2  27645  <html><head><div class="article-info"><span cl...
3  27646  <html><head><div class="article-info"><span cl...
4  27647  <html><head><div class="article-info"><span cl...

In [2]:
# def get_article(text: str) -> str:    
#     soup = BeautifulSoup(text, "html.parser")
#     article = soup.find('section',{'class':'article-content'})
#     return article.get_text()

# soup = BeautifulSoup(dataset['Page content'][0], "html.parser")
# article = soup.find('section',{'class':'article-content'})
# p = article.find_all('p')
# #len(p)
# p

In [3]:
n_sentence = []

def get_p(text: str):    
    soup = BeautifulSoup(text, "html.parser")
    article = soup.find('section',{'class':'article-content'})
    p = article.find_all('p')
    return len(p)

for i in range(dataset.shape[0]):
    n_sentence.append(get_p(dataset['Page content'][i]))
dataset['n_sentence'] = n_sentence

In [4]:
#dataset = dataset.set_index("Id")
dataset = dataset.drop(columns=["Page content"])
dataset.head()

      Id  n_sentence
0  27643          22
1  27644           7
2  27645           6
3  27646          10
4  27647           8

In [5]:
dataset.to_csv("./data/test_n_sentence.csv")